.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(8, 17, 49) !important;
}

#navbar {
  background-color: rgb(8, 17, 49) !important;
  height: 8rem;
}

.ui.fluid.dropdown > .dropdown.icon {
  color: rgb(8, 17, 49) !important;
}

.ui.multiple.dropdown > .label {
  background-color: rgb(4, 14, 98);
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  border-radius: 1rem;
  /* border: 1px solid white; */
}

.ui.fluid.dropdown {
  border-radius: 1rem !important;
  background-color: rgb(8, 17, 49) !important;
  border: 1px solid white !important;
}

.ui.fluid.dropdown > .dropdown.icon {
  color: white !important;
}

.ui.dropdown .menu {
  background: rgb(8, 17, 49) !important;
}

.ui.dropdown .menu .item {
  color: white !important;
  border: none !important;
}

.ui.selection.active.dropdown .menu {
  border-color: white !important;
}

.ui.multiple.search.dropdown > input.search {
  color: white;
}

.recharts-legend-wrapper {
  color: white;
}

.recharts-default-tooltip {
  /* border: none !important; */
  color: white !important;
  background: rgb(8, 17, 49) !important;
  padding: 0.75rem !important;
  border-radius: 1.25rem;
}

.canvasjs-chart-canvas {
  padding: 1rem;
}

.canvasjs-chart-credit {
  display: none !important;
}

#tickers-div button:hover {
  opacity: 0.5;
}

#tickers-div button:focus {
  opacity: 0.5 !important;
  outline: 0;
}

.canvasjs-chart-toolbar > button {
  background-color: white !important;
}
